Checks:
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  hicpp-*,
  llvm-*,
  misc-*,
  modernize-*,
  perfomance-*,
  portability-*,
  readability-*,

  -readability-isolate-declaration
